.title{
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
}
.table{
    border-radius: 5px;
    width: 70%;
    margin: 0px auto;

    
    
}
th,.acc-Firstname,.acc-Lastname,.acc-TimeStamp,.acc-StudentID{
    text-align: left;
}
td, th{
    padding-right: 3rem;
}
/* .acc-StudentID{ */
    /* text-align: center; */
/* } */
/* .acc-Lastname,{
    text-align: right;
} */
/* .total-text{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
} */